<%- include('./includes/header.ejs') %>

  <div class="container-fuild">
    <img src="https://ik.imagekit.io/haijames32/banner-2.png" height="100%" width="100%"
      style="background-repeat: no-repeat; background-size: 100%;" alt="">
  </div>
  <hr>

  <%- include('./includes/footer.ejs') %>