<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Product?</h5>
            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">Do you want to delete the product to the trash?</div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-dismiss="modal">
               Close
            </button>
            <button type="button" class="btn btn-danger" id="btnDeleteProductModal" data-mdb-ripple-init>Move to
               trash</button>
         </div>
      </div>
   </div>
</div>